*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(181, 202, 243);
}
body{
    background-color: rgb(235, 246, 254);

}


header{
    background-color: rgb(135, 180, 215);
    text-align: center;
    box-shadow: 10px 10px 7px rgb(69, 93, 108);
}


section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}


.cards {
    border: 19px groove #9cc9ff;
    display: flex;
    justify-content: center ;
    flex-direction: column;
    margin: 10px ;
    flex-wrap: wrap;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 7px rgb(69, 93, 108);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: transform;

}
.cards:hover{
    transform: scale(1, 1.1);
}
.shox{
    width: 200px;
    height: 265px;
    display: flex;
    justify-content: center;
}