html{
    font-size: clamp (16px, 4vh, 100px);
    margin: auto;
}
/* i have to see that */
h1, h2{
    margin: auto;
    text-align: center;
    font-size: 70px;
    color: rgb(173, 217, 173);

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: url(./image/1_kb8vIWPzpTxS0R-E-qg2yw.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-size: contain; */
    background-position:center center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* align-items: center; */
    flex-direction: row;
    width: 310px;
    height: 310px;
    border-bottom: none;
    border-top: none;
    background-image: url(./image/maxresdefault.jpg);
    /* background: #03001e;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
border-radius: 10px;
/* box-shadow: 10px 10px 10px green; */

}
.main-container1 .main-container2 .main-container3{
    display: flex;
    flex-direction: row;
     
}

div div{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(206, 189, 224);
    /* border-bottom: none; */
    /* border-top: none; */
    background-color: transparent;
    color: rgb(206, 121, 214);
    font-size: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.box1, .box4, .box7{
    border-top: none;
}
.box3, .box6, .box9{
    border-bottom: none;
}
.box3, .box2, .box1{
    border-left: none;
}
.box9, .box8, .box7{
    border-right: none;
}
